@{
    ViewBag.Title = "Getting Glimpse";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">

            <!-- Title -->
            <div class="title">
                <h1>Bobby Johnson <span class="h4 element">I'm Web Developer</span></h1>
            </div>
            <!-- End of title -->
            <!-- About me -->
            <div class="space">
                <p class="text-justify h4">
                    I am a passionate engineer with an interest in shipping quality software,
                    building strong collaborative teams and continuous improvement of my
                    skills, team and the product. My experience ranges from building small
                    line of business applications allowing financial professionals to execute
                    quickly to large public facing distributed social content apps.
                </p>
            </div>
            <!-- End of about me -->
        </div>

        <!-- Avatar image -->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="/Content/images/avatar500x680.jpg"  class="img-thumbnail center-block" alt="Avatar" title="" style="max-height: 458px">
        </div>
        <!-- End avatar image -->
        <!-- Start skills / expertise -->
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="space">
                <h3>EXPERTISE</h3>

                <h5>.NET</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" style="width: 99%"></div>
                </div>

                <h5>HTML / CSS3</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 75%"></div>
                </div>

                <h5>Javascript</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" style="width: 85%"></div>
                </div>

                <h5>Unit Testing</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
                </div>

                <h5>Continuous Deployment</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                </div>

                <h5>SQL / NoSQL</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" style="width: 75%"></div>
                </div>
            </div>
        </div>
        <!-- End of skills / expertise -->
    </div>
</div>