@using System.Reflection
<footer>
    <p class="text-muted pull-left">&copy; @DateTime.Now.Year - Kiehl Northwest</p>
    <p class="text-muted pull-right">Version: @Assembly.GetAssembly(typeof(MvcApplication)).GetName().Version</p>
</footer>